body {
	#main {
		// opacity: 0;
		&.active {
			opacity: 1;
		}
	}
	#address-input {
		opacity: 0;
		&.active {
			opacity: 1;
		}
		h2.title {
			opacity: 0;
			&.active {
				opacity: 1;
			}
		}
	}
}