<div id="hover-section">	
	<div class="grid">
		<figure class="lilly">
			<img src="./img/1-lilly.jpg" alt="img01">
			<figcaption>	
				<h2>Nice <span>Lily</span></h2>
				<p>Lily likes to play with crayons and pencils</p>
				<a href="#">View More</a>
			</figcaption>
		</figure>

		<figure class="lilly">
			<img src="img/2-lilly.jpg" alt="img02">
			<figcaption>	
				<h2>Nice <span>Lily</span></h2>
				<p>Lily likes to play with crayons and pencils</p>
				<a href="#">View More</a>
			</figcaption>
		</figure>
	</div>

	<div class="grid">
		<figure class="oscar">
			<img src="./img/3-oscar.jpg" alt="img01">
			<figcaption>	
				<h2>Warm <span>Oscar</span></h2>
				<p>Oscar is a decent man. He used to clean porches with pleasure.</p>
				<a href="#">View More</a>
			</figcaption>
		</figure>

		<figure class="oscar">
			<img src="./img/4-oscar.jpg" alt="img01">
			<figcaption>	
				<h2>Warm <span>Oscar</span></h2>
				<p>Oscar is a decent man. He used to clean porches with pleasure.</p>
				<a href="#">View More</a>
			</figcaption>
		</figure>
	</div>
</div>