<!-- <div class="input-box">
	<h2>Make Calculated Moves</h2>
	<p style="font-size: 18px; text-align: center;">Enter The Avenue At Your Destination & The Building Number To Easily Calculate The Nearest Cross Street</p>
	<form>
		Avenue:<input type="text" name="avenue" id="ave" placeholder="Eighth">
		Building #: <input type="text" name="bldNum" id="bldNum" placeholder="800">
		<br><br>
		<input type="submit" value="Calculate">
	</form>
	<a class="restart" href="#">Remove</a>
</div> -->

<div class="input-box">
		<span class="input-placeholder" >Where do you want to go?</span>
		<input class="input-desktop" id="ave" type="text" placeholder="Where do you want to go">
		<input class="input-desktop" id="bldNum" type="text" placeholder="Building Number? ">
		<i class="fa fa-search icon-search"></i>
		<div>
			<a class="restart" href="#"><i class="fa fa-times-circle"></i></a>
		</div>
</div>
